.table {
    margin: 5px;
    flex-direction: column;
}

.table-row {
    flex-direction: row;
}

.table-header {
    background-color: rgb(41, 41, 41);
}

.table-header .table-cell
{
    border-width: 1px;
    border-color: rgba(125, 125, 125, 255);
}

.table-cell {
    padding: 5px;
}

.table-cell--fixed {
    flex-shrink: 0;
}

.table-cell--expandable {
    flex-grow: 1;
    flex-basis: 50%;
    flex-shrink: 1;
}
